{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}


{% block body %}
<section class="text-gray-600 body-font ">
    <div class="container px-center py-24 ml-auto mr-auto {# flex flex-wrap #} items-center">
      <div class="lg:w-2/6 md:w-1/2 bg-gray-100 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0 ">
        <div class="relative mb-4">
          <label for="full-name" class="leading-7 text-sm text-gray-600">Saisir Votre Nom</label>
          <input type="text" id="full-name" name="full-name" class="w-full bg-white rounded border border-gray-300 focus:border-blue-500 focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>
        <div class="relative mb-4">
          <label for="prenom" class="leading-7 text-sm text-gray-600">Saisir Votre Prénom</label>
          <input type="text" id="prenom" name="prenom" class="w-full bg-white rounded border border-gray-300 focus:border-blue-500 focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>
        <div class="relative mb-4">
          <label for="email" class="leading-7 text-sm text-gray-600">Saisir Votre Email</label>
          <input type="text" id="email" name="email" class="w-full bg-white rounded border border-gray-300 focus:border-blue-500 focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>
        <div class="relative mb-4">
          <label for="mdp" class="leading-7 text-sm text-gray-600">Saisir Votre Mot de Passe</label>
          <input type="password" id="mdp" name="mdp" class="w-full bg-white rounded border border-gray-300 focus:border-blue-500 focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>
        <button class="text-white bg-blue-500 border-0 py-2 px-8 focus:outline-none hover:bg-blue-600 rounded text-lg">Ajouter</button>
        <p class="text-xs text-gray-500 mt-3">En vous inscrivant sur ce site, vous accepter de vendre votre âme au diable.</p>
      </div>
    </div>
  </section>
{% endblock %}
