{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
<turbo-frame id="id-cat">
  <div>
    {{ form_start(form) }}
    {{ form_widget(form.name) }} {# pour chaque input qu'on récupère #}
    {{ form_rest(form) }}{# pour faire un token #}
    {{ form_end(form) }}
  </div>
 {% include "composants/_toast.html.twig" %}

</turbo-frame>
{% endblock %}
